body
{
	margin:0;
	padding:0;
	overflow:hidden;
}

#floating_logo
{
	position:absolute;
	left:10px;
	bottom:10px;
	width:200px;
	height:125px;
	background-image:url(../assets/ui/logo.png);
	z-index:1000;
	display:none;
}

canvas
{
	image-rendering:optimizeSpeed;
}

#mainViewport
{
	background-color:#333;
	cursor:pointer;
	/*border:1px #666 dashed;*/
}

#mainViewport div, mainViewport canvas
{
	cursor:pointer;
}

#viewport1
{
	background-color:#efefef;
	cursor:pointer;
	/*border:1px #666 dashed;*/
}
/*
#viewport2
{
	position:absolute;
	left:10px;
	bottom:10px;
	background-color:#efefef;
	border:1px #ccc dashed;
	cursor:pointer;
}
*/
#viewport2
{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-325px;
	margin-top:-175px;
	background-color:#efefef;
	border:1px #ccc dashed;
	cursor:pointer;
}

#viewport3
{
	position:absolute;
	left:10px;
	bottom:280px;
	background-color:#000;
	border:1px #fff dashed;
	cursor:pointer;
}

#viewport4
{
	position:absolute;
	left:10px;
	bottom:540px;
	background-color:#000;
	border:1px #fff dashed;
	cursor:pointer;
}	

#igeFpsGraph
{
	position:absolute;
	right:10px;
	bottom:10px;
	border:1px #666 dashed;
	padding-top:10px;
	background-color:#FFF;
}

#cords
{
	position:absolute;
	bottom:10px;
	right:10px;
	width:550px;
	height:15px;
	background-image:url(../assets/ui/panelBack.jpg);
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:5px 5px 5px 10px;
	color:#000;
	text-shadow:#555 0px 0px 1px;
	border:1px #999 solid;
	z-index:10;
	border-radius:10px;
	display:none;
}

#fpsText
{
	position:absolute;
	bottom:10px;
	right:10px;
	width:210px;
	height:30px;
	background-image:url(../assets/ui/panelBack.jpg);
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	padding:5px 5px 5px 10px;
	color:#000;
	border:1px #999 solid;
	z-index:10;
	display:none;
	text-shadow:#555 0px 0px 1px;
	border-radius:15px;
}

#controls
{
	position:absolute;
	right:10px;
	top:10px;
	width:100px;
	z-index:10;
	text-align:right;
	display:none;
}

#viewport1_temp
{
	position:absolute;
	left:100px;
	top:100px;
}

#chatWindow
{
	position:absolute;
	top:10px;
	left:10px;
	width:352px;
	height:245px;
	border:1px #666 dashed;
	z-index:100;
	background-color:#333;
	display:none;
}

#chatWindow_log
{
	position:relative;
	left:5px;
	top:5px;
	width:340px;
	height:200px;
	overflow:auto;
	border:1px #666 solid;
	background-color:#FFF;
}

#chatWindow_log p
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	margin-left:5px;
	margin-top:2px;
	margin-bottom:2px;
	margin-right:5px;
}

#chatWindow_controls
{
	position:relative;
	top:10px;
	left:4px;
}

#loginBox
{
	position:absolute;
	left:50%;
	top:50%;
	width:400px;
	height:400px;
	margin-left:-200px;
	margin-top:-200px;
	background-image:url(../assets/ui/login.png);
	z-index:200;
}

#loginBox_form
{
	position:relative;
	top:150px;
	left:10px;
}

#loginBox_usernameLabel
{
	position:relative;
	left:35px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	margin-bottom:2px;
}

#loginBox_username
{
	position:relative;
	left:35px;
	width:308px;
	height:30px;
	margin-bottom:10px;
	font-size:20px;
}

#loginBox_passwordLabel
{
	position:relative;
	left:35px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	margin-bottom:2px;
}

#loginBox_password
{
	position:relative;
	left:35px;
	width:308px;
	height:30px;
	font-size:20px;
	clear:both;
}

#loginBox_login
{
	position:relative;
	top:44px;
	right:44px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	height:30px;
	color:#000;
	clear:both;
}

#loginBox_status
{
	position:relative;
	top:150px;
	left:10px;
	display:none;
}

#loginBox_statusLabel
{
	top:10px;
	position:relative;
	left:35px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	color:#FFF;
	margin-bottom:2px;
	text-align:center;
	width:310px;
}

#igeLogDiv {
	position:absolute;
	right:10px;
	bottom:10px;
	width:400px;
	z-index:110000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
	background-color:#333;
	border:1px solid #666;
	padding:10px;
}

#igeCordDiv {
	position:absolute;
	right:465px;
	bottom:10px;
	width:300px;
	z-index:110000;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#FFF;
	background-color:#333;
	border:1px solid #666;
	padding:10px;
}